:root{
    --color-1: rgb(5, 5, 59);
	--secondary-color: lightgray;
}
body{
	font-family: 'Poppins', sans-serif;
	background-color: var(--secondary-color);
	margin: 0;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}


.jumbotron {
  background: url("https://images.unsplash.com/photo-1491466424936-e304919aada7?dpr=1&auto=format&fit=crop&w=1500&h=1002&q=80&cs=tinysrgb&crop=&bg=") bottom center no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 0 !important;
  overflow: hidden;
  padding-top: 10em !important;
  padding-bottom: 12em !important;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0,0,0,.4);
  z-index: 9999;
  
}

.lead {
	text-align: center;
	font-family: 'Arial';	
	font-weight: 700;
}

button{
	margin:auto;
	display:block;
}
  

button{
	padding:16px 32px;
	font-family:helvetica;
	font-size:16px;
	margin-top: 3rem;
	font-weight:200;
	color:#fff;
	background: rgb(221, 30, 30);
	border:0;
	font-weight:100;
}

button:hover{
	background: rgb(206, 79, 79);;
}

a {
	text-decoration: none;
	color:#fff;
}

.header{
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
	padding: 1rem;
}

.header .logo,
.header .nav{
	padding:0 15px;
}

.header .logo a{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
}

.logo span {
	color: red;
}

.header .nav ul li{
	display: inline-block;
	margin-left: 20px;
}

.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    text-decoration: none;
}



.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: rgb(5, 5, 59);
    background: #fff;
}

.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}

.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggler.active span{
	background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }

   .header .nav ul li a.active, .header .nav ul li a:hover {
    background: none;
    color: cyan;
   }
}

.search {
	background-color: transparent;
	border: 2px solid var(--secondary-color);
	border-radius: 50px;
	font-size: 1rem;
	padding: 7px;
	color: #fff;
}

.search::placeholder {
	color: #fff;
}

.search:focus {
	outline: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	color: #fff;
}

.movie {
	width: 300px;
	margin: 1rem;
	background-color: var(--color-1);
	box-shadow: 0 4px 5px rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.movie img {
	width: 100%;
	cursor: pointer;
}

.movie-info {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 1px;
}

.movie-info span {
	background-color: #fff;
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	font-weight: bold;
}

.movie-info span.green {
	color: rgb(48, 139, 48);
}


.movie-info span.orange {
	color: orange;
}


.movie-info span.red {
	color: red;
}

.overview {
	background-color: var(--secondary-color);
	color: var(--color-1);
	padding: 2rem;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform 0.3s ease;
}

.movie:hover .overview {
	transform: translateY(0);
}

.footer {
	background: var(--color-1);
	color: #d3d3d3;
	height: 200px;
	position: relative;
  }
  
  .footer .footer-content {
	height: 200px;
	display: flex;
  }
  
  .footer .footer-content .footer-section {
	flex: 1;
	padding: 25px;
  }
  
  .footer .footer-content h2 {
	color: white;
  }
  
  .footer .footer-content .about h1 span {
	color: red;
  }
  
  .footer .footer-content .about .socials a {
	border: 1px solid gray;
	width: 45px;
	height: 41px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all .3s;
	margin-top: 3rem;
	margin-right: 1rem;
  }
  
  .footer .footer-content .about .socials a:hover {
	border: 1px solid white;
	color: white;
	transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	transition: all .3s;
  }
  
  .footer .footer-content .links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all .3s;
  }
